.forcast-card {
    border: 2px solid black;
    padding: 10px;
    background-color: cornflowerblue;
}

.date {
    color: white;
}

.weather-forecast {
    color: white;
}

.temp {
    color: white;
}

.feels-like {
    color: white;
}

.humidity {
    color: white;
}

.view-link {
    color: white;
    display: block;
}